**Introdução ao banco sqlite3**

### Criar e conectar ao banco de dados

In [1]:
import sqlite3

In [84]:
conn = sqlite3.connect('db.sqlite3')

### Criar tabela no banco de dados

In [14]:
create_table =  """
create table cars(id integer primary key, 
title text,
price text,
category text,
kind text,
engine text,
direction text,
plate text,
model text,
year text,
fuel text,
color text,
brand text,
km text,
gearbox text,
doors text)

""".replace('\n', '')

In [15]:
create_table

'create table cars(id integer primary key, title text,price text,category text,kind text,engine text,direction text,plate text,model text,year text,fuel text,color text,brand text,km text,gearbox text,doors text)'

In [16]:
conn.execute(create_table)

In [17]:
conn.commit()

In [18]:
! ls

db.sqlite3  sqlite3.ipynb

### Inserir elemento ao banco de dados

In [19]:
car = {
        'title': 'TOYOTA COROLLA XEI 1.8/1.8 FLEX 16V AUT. 2009 - 743692740 | OLX',
        'price': 'R$ 41.990', 'category': 'Carros, vans e utilitários',
        'kind': 'Sedã', 'engine': '1.8',
        'direction': 'Hidráulica',
        'plate': '0', 'model': 'TOYOTA COROLLA XEI 1.8/1.8 FLEX 16V AUT.',
        'year': '2009',
        'fuel': 'Flex',
        'color': 'Preto',
        'brand': 'TOYOTA',
        'km': '128000',
        'gearbox': 'Automático',
        'doors': '4 portas'
    }

In [89]:
tables = 'title, price, category, kind, engine, direction, plate, model, year, fuel, color, brand, km, gearbox, doors'
tables

'title, price, category, kind, engine, direction, plate, model, year, fuel, color, brand, km, gearbox, doors'

In [90]:
values = ':title, :price, :category, :kind, :engine, :direction, :plate, :model, :year, :fuel, :color, :brand, :km, :gearbox, :doors'
values

':title, :price, :category, :kind, :engine, :direction, :plate, :model, :year, :fuel, :color, :brand, :km, :gearbox, :doors'

In [48]:
insert = f'insert into cars({tables}) values ({values})'

In [50]:
conn.execute(insert, car)

In [51]:
conn.commit()

### Select no bando de dados

In [85]:
result = conn.execute('select * from cars')

In [86]:
list(result)

[(1,
  'TOYOTA COROLLA XEI 1.8/1.8 FLEX 16V AUT. 2009 - 743692740 | OLX',
  'R$ 41.990',
  'Carros, vans e utilitários',
  'Sedã',
  '1.8',
  'Hidráulica',
  '0',
  'TOYOTA COROLLA XEI 1.8/1.8 FLEX 16V AUT.',
  '2009',
  'Flex',
  'Preto',
  'TOYOTA',
  '128000',
  'Automático',
  '4 portas')]

In [87]:
conn.close()